VITE_GA_ID=G-XXXXXXXXXX
# Add any other public Vite env vars here, e.g. VITE_API_BASE

VITE_EMAILJS_SERVICE_ID=service_xjyflyw
VITE_EMAILJS_TEMPLATE_ID=template_ooimu5c
VITE_EMAILJS_PUBLIC_KEY=jN4pSPy27LgNKlGJR


VITE_ANTHROPIC_API_KEY=sk-ant-api03-...
VITE_OLLAMA_API_KEY=3bd7beeaf2cb4fa6989d2fc58852f06c.CWW1juNRJntTDIzJMtbwQKuz